<!-- /* Confetti ... Copyright 2011 Patrik Svensson (http://metervara.net). All rights reserved. */
-->
<canvas id="confetti"></canvas>

<section class="instructions">
  <h1>Congratulations!</h1>
  <div class="text-center"><%= image_tag "mac_steps/congrats_sam.png", class: "congrats-sam", style: 'display:inline;' %></div>

  <h2>What’s next?</h2>
  <ol>
    <li>
      <strong><%= link_to "One Month Python", "https://onemonth.com/courses/python?utm_source=installpython", target: "_blank" %></strong> helps you learn the basics of python in less than one month!
    </li>
  </ol>
  <p><%= link_to "One Month Python", "https://onemonth.com/courses/python?utm_source=installpython" %> is an introduction to programming with Python for total beginners. Python is a really popular language used by companies like Google, Facebook, Dropbox, Instagram, and Reddit. Python is used for all sorts of things like building websites, web scraping, data analysis, machine learning, and natural language processing. The language is designed to be easy to read, while still being very powerful, which makes it a great language for beginners to learn.</p>
 
<p>In this online course, we’ll learn the basics of programming – variables, strings, lists, functions, and all that stuff – but we’ll be doing it with a focus on business use cases. You’ll learn how to write scripts that automate tedious tasks, read other people’s code, parse and interpret data, interact with APIs, and build web scrapers.</p> 
 
<p>Our <%= link_to "python tutorial", "https://onemonth.com/courses/python?utm_source=installpython" %> assume no previous knowledge of programming or code. The instructor will, however, assume that you’re fairly comfortable using a computer and can navigate the internet using a web browser (please don’t use Internet Explorer 8).</p>
 
<p>In just 30 days, <%= link_to "One Month Python", "https://onemonth.com/courses/python?utm_source=installpython" %> will take you from a beginner (no prior programming experience necessary) to an intermediate Python developer.</p> 


</section>

<script>
  mixpanel.track("Congratulations! Finished");
</script>
