<section class="instructions">
  <h1>Download Git &amp; Git Bash</h1>
  <ol>
    <li>
      <p>Go to <a href="https://git-scm.com/download/win">https://git-scm.com/download/win</a> which will automatically download git and gitbash.</p>
    </li>
    <li>
      <p>Accept the license</p>
      <%= image_tag "windows/git_installation_license.png", class: "img-responsive" %>
    </li>
    <li>
      <p>The default location is perfect</p>
      <%= image_tag "windows/git_installation_location.png", class: "img-responsive" %>
    </li>
    <li>
      <p>No need to change any configs</p>
      <%= image_tag "windows/git_installation_config.png", class: "img-responsive" %>
    </li>
    <li>
      <p>Start menu option, yep, perfect</p>
      <%= image_tag "windows/git_start_menu_option.png", class: "img-responsive" %>
    </li>
    <li>
      <p>Default option here is perfect too</p>
      <%= image_tag "windows/git_path_environment_option.png", class: "img-responsive" %>
    </li>
    <li>
      <p>The default here is fine too.</p>
      <%= image_tag "windows/git_line_ending_conversions_option.png", class: "img-responsive" %>
    </li>
    <li>
      <p>Use Min TTY</p>
      <%= image_tag "windows/git_terminal_emulator_option.png", class: "img-responsive" %>
    </li>
    <li>
      <p>Use filesystem caching</p>
      <%= image_tag "windows/git_extra_options.png", class: "img-responsive" %>
    </li>
    <li>
      <p>You'll see this when you are done.</p>
      <%= image_tag "windows/git_installation_finish.png", class: "img-responsive" %>
      <p>BOOM</p>
    </li>
  </ol>
</section>

<%= render 'layouts/step_navigation' %>
