<section class="instructions">
  <h1>Getting Python</h1>
  <ol>
    <li>
      <p>Go to <a href="https://www.python.org/downloads/">https://www.python.org/downloads/</a> to install python</p>
      <p>We are going to install python 3.5.2</p>
      <%= image_tag "windows/python_download_page.png", class: "img-responsive" %>
    </li>
    <li>
      <p>Click on the installer to start the setup.</p>
      <%= image_tag "windows/python_install_start.png", class: "img-responsive" %>
    </li>
    <li>
      <p>Once the setup has started, make sure to click ADD Python to 3.5 PATH</p>
      <%= image_tag "windows/python_installer.png", class: "img-responsive" %>
    </li>
    <li>
      <p>Then click install now. If prompted, allow the installation and you should see this screen when it’s done.</p>
      <%= image_tag "windows/python_installer_finish.png", class: "img-responsive" %>
    </li>
  </ol>
</section>

<%= render 'layouts/step_navigation' %>

<div id="trouble" class="collapse out note">
  <%= render 'layouts/disqus' %>
</div>
