<section class="instructions">
  <h1>Install Homebrew</h1>
  <ol>
    <li>
      <p>You can aquire Homebrew by going to brew.sh in your browser and copying the installation command into your terminal.app</p>
      <%= image_tag 'mac_steps/homebrew_home_page.png', class: "img-responsive" %>
      <p>This output is expected</p>
      <%= image_tag 'mac_steps/homebrew_terminal_install.png', class: "img-responsive" %>
    </li>
    <li>
      <p>Press enter and you’ll be prompted for your password. Enter your system password and press enter again.</p>
      <p class="note">Note: When you enter your system password here, you won’t see any movement or dots or characters. It’s confusing at first, but once you press enter it will tell you if it’s wrong.</p>
      <p>When this is done you should see a screen like this</p>
      <%= image_tag 'mac_steps/homebrew_terminal_install_finish.png', class: "img-responsive" %>
      <p class="note">Note the block towards the bottoms that says <samp>==> Installation successful!</samp> Woop woop! First part down.</p>
    </li>
  </ol>
</section>

<%= render 'layouts/step_navigation' %>

<div id="trouble" class="collapse out note">
  <%= render 'layouts/disqus' %>
</div>