<section class="instructions">
  <h1>Testing Python &amp; Git Bash</h1>
  <ol>
    <li>
      <p>Now open git from your start menu</p>
      <div class="row">
        <div class="col-sm-8">
          <%= image_tag "windows/start_menu_windows_8.png", class: "img-responsive" %>
          <p><small>Windows 8 Start Menu</small></p>
        </div>
        <div class="col-sm-4">
          <%= image_tag "windows/start_menu_windows_7.png", class: "img-responsive" %>
          <p><small>Windows 7 Start Menu</small></p>
        </div>
      </div>
      <p>We are going to use Git Bash</p>
    </li>
    <li>
      <p>Lets confirm we have python available.</p>
      <%= image_tag "windows/git_bash.png", class: "img-responsive" %>
      <p>Type <code>python --version</code> and press <kbd>Enter</kbd></p>
      <p>You should see <samp>Python 3.x.x</samp></p>
      <p>Returned. If not, this means you have a Python 2.7 installed, uninstall that, close gitbash, and then reopen it. Then the output should show python 3.x.x </p>
    </li>
  </ol>
</section>

<%= render 'layouts/step_navigation' %>

<div id="trouble" class="collapse out note">
  <%= render 'layouts/disqus' %>
</div>
